.container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  position: relative;
  font-family: Roboto, sans-serif;
  height: 360px;
  overflow: hidden;
}

.imageBanner {
  position: absolute;
  bottom: -5px;
  top: 0;
  left: -5px;
  width: calc(100% + 20px);
  max-width: calc(100% + 20px);
  height: calc(100% + 5px);
  z-index: -1;
  margin: 0;
}

.content {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.links a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.links a:active, a:focus, a:hover {
  font-family: Roboto, sans-serif;
  opacity: 0.8;
  transition: .25s ease;
}

.credit {
  padding: 35px 0 30px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: 10px;
}

.icon a:active, a:focus, a:hover {
  font-family: Roboto, sans-serif;
  opacity: 0.8;
  transition: .25s ease;
}