.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.main {
  align-items: left;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Roboto;
}